:root {
    --header-button-color: #5e81d1;
    --add-item-color: #f87500;
    --main-color: #ff8d27;
}
* {
    box-sizing: border-box;
}
section {
    margin: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}
li {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
a {
    color: black;
}
.first-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-button-color);
    padding: 5px;
}
.first-header__title {
    font-size: 1rem;
    margin: 10px 0 0 10px;
}
.navegator-list {
    display: flex;
    justify-content: center;
}
.navegator-list__element {
    margin: 0 5px 0 0;
    list-style: none;
    font-size: 0.7rem;
}
.navegator-list__element--bold {
    font-weight: bold;
}
.add-items-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--add-item-color);
}
.add-items-section__info {
    font-size: 0.9rem;
    padding: 1px;
}
.add-items-section__add {
    padding: 1px;
}
.main-form {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 10px;
}
.main-form__title {
    font-size: 1rem;
    margin: 10px 0;
    padding: 0;
}
.main-form__section {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.main-form__input {
    width: 35%;
    height: 30px;
}
.main-form__title {
    margin-bottom: 5px;
}
.send-button > input {
    font-size: 1rem;
    padding: 7px 5px;
    background-color: var(--header-button-color);
    border: 0;
    color: white;
}
